name: publish to PyPI

on:
  release:
    types: [published]

jobs:
  deploy:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['313', '314']

    runs-on: ${{ matrix.os}}
    permissions:
      contents: read
      id-token: write

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools
    - name: Build package
      uses: pypa/cibuildwheel@v3.3.0
      env:
        CIBW_BUILD: cp${{matrix.python-version}}-*
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dist/
